@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* your custom colors */
  --color-primary: #e6f85e;
  --color-primary-dark: #0C630C;
  --color-dark: #11121C;
  --color-blue: #171825;
  --color-border: #2e2f45;
  --color-lightGray: #bdbfd4;
}

/* map them to tailwind tokens */
@theme inline {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-dark: var(--color-dark);
  --color-blue: var(--color-blue);
  --color-borderColor: var(--color-border);
  --color-lightGray: var(--color-lightGray);
}
